html, body{
  height: 90%;
  margin: 0% !important;
}

.center {
  margin-left: 12px;
  margin-right: 12px;
}
.title {
  font-family: 'Raleway', sans-serif;
}

.chart-max {
  height:85%;
}

.btn-round {
  border-radius: 48px !important;

}

.btn-big {
  padding: 70px !important;
}

.icon-xl {
  font-size: 36px;
}
