html, body{
    height: 100%;
    margin: 0% !important;
  }
  .title {
    font-family: 'Noto Sans KR', sans-serif;
    line-height:44px
  }

  .center {
    height: 100%;
  }

  .btn-round {
    border-radius: 48px !important;
    
  }

  .btn-big {
    padding: 70px !important;
  }

  .icon-xl {
    font-size: 36px;
  }

  .modal-backdrop{
      background-color: transparent;

  }

  .modal-content{
      background-color: #2b3238;
      color: #ffffff;
  }
  .modal-title{
      font-family: 'Noto Sans KR', sans-serif;
  }
  .modal-blur{
      background: transparent;
      background-color: rgba(219, 223, 226, 0.5) !important;
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
      box-shadow: none !important;
      border-radius: 22px !important;

  }