.card {
    box-shadow: none !important;
}

.card-light {
    background-color: #e9ecf0;
}

.text-gold {
    color: #e0c218;
}

.text-silver {
    color: #c0c0c0;
}

.text-brown {
    color: #ce7013;
}