

.text-title{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;

}

.text-body{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

.icon-sm {
  font-size: 10px !important;
}

.icon-lg {
  font-size: 32px !important;
}

.link-normal {
  color: inherit; 

}


.font-weight-lg {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700 !important;
}
.font-weight-md {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500 !important;
}

.font-size-md {
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
}

.card {
  border: none !important;
  outline: none;
  box-shadow: none !important;
  background-color: #f0f2f4d0;
  border-radius: 10px;
}

.alert-light{
  background-color: #f0f2f4d0 !important;
  border-radius: .625rem !important;
}
